.item{
	width:90%;
	margin:30px auto;
	display:flex;
	padding-bottom:30px;
	border-bottom: 1px solid #ccc;
	justify-content: space-around;
}
.itemimage{

}
.itemdescript{
display:flex;
align-items:center;

}
.itemdescript p{
	margin:0 30px;
}

#cartnumber{
	color:#ffffff;
	transform:translateX(-22px) translateY(-3px);
	-webkit-transform:translateX(-22px) translateY(5px);
	display:inline-block;
}

body {
	background-color: white;
	margin: 0 auto;
	font-family: bodoni,didot,sans-serif;
}

ul {
	list-style-type: none;
	
}

li {
	display: inline;
}

.header {
	background-color: #464646;
	padding: 0.1px;
	text-align: right;
	font-size:14px;
	font-family:bodoni;
}

.header li {
	padding: 0 5px 0 5px;
}

.topmenu {
	list-style-type: none;
}

header {
	background: white;
	height: 150px;
	padding-top: 20px;
	font-family:didot;
}

header ul {
	padding 0;
	margin: 0;
}

header li {
	float: left;
	display: inline;
	padding: 0 15px 0 15px;
	font-size:  16px;
	padding-left: 0;
}

header a {
	text-decoration: none;
	color: #737373;
	text-transform: uppercase;
	font-size:14px;
}

header #branding {
	float: left;
}

header #branding {
	margin 0;
}

header nav {
	float: right;
	margin-top: 30px;
}

header. highlight, header. current a {
	color: #black;
	font-weight: bold;
}

header a:hover {
	color: #black;
	font-weight: bold;
}


li a {
	color: black;
	text-aligh:center;
	padding: 0;
	text-decoration: none;
}

.promotion {
	background-color: #F7F0DC;
	padding: 0.1px;
	text-align: center;
}

/* Product Page  */

.producttitle {
	text-align:center;
}

div.gallery {
	margin: 15px;
	border: 1px solid white;
	float: left;
	width: 300px;
}

div.gallery:hover{
	border: 1px solid #777;
	}
	
div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
	font-family: bodoni;
	font-size: 22px;
}

/* About Page  */

.aboutimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.abouttitle {
	text-align: center;
}

#aboutparagraph {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
	margin-bottom: 100px;
}

/* Detail Page */


.first-column {
	width: 55%;
	padding-top: 50px;
	padding-left: 100px;
	float: left;
}

.second-column {
	width: 30%;
	padding-top: 20px;
	padding-left: 20px;
	float: left;
}

@media only screen and (max-width:800px) {
	.first-column {
		width: 100%;
		float: none;
	}
	
	.second-column {
		width: 100%;
		padding-bottom: 10px;
		float: none;
	}
}

.btn-group button {
	border: 1px solid black;
	border-radius: 4px;
	padding: 15px 24px;
	margin-right: 5px;
	cursor: pointer;
	float: left;
	font-family: bodoni;
	font-size: 16px;
}
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}
.btn-group button:not(:last-child) {

}
.btn-group button:hover {
	background-color: black;
}

.anibutton {
	border-radius: 4px;
	background-color: black;
	border: none;
	color: white;
	font-family: bodoni;
	text-align: center;
	font-size: 22px;
	padding: 20px;
	width: 180px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 10px;
}

.anibutton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.anibutton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.anibutton:hover span {
	padding-right: 20px;
}
.anibutton:hover span:after {
	opacity: 1;
	right: 0;
}

/* Contact Page */

.contact-column1 {
	width: 45%;
	padding-top: 50px;
	padding-left: 45px;
	float: left;
}

.contact-column2 {
	width: 45%;
	padding-top: 50px;
	padding-right: 30px;
	float: left;

}

#contactinfo {
	text-align: left;
	float: left;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 6px;
	resize: vertical;
}

input[type=submit] {
	background-color: black;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-family: bodoni;
}

input[type=submit]:hover {
	background-color: #464646;
}


.container {
	background-color: white;
	padding: 20px;
}

* {
  box-sizing: border-box;
}
 

.carttitle{
	padding-left:180px;
}

/* Detail 1 Page */

.active{
	background-color:black;
	color:white;
}

.deleteButton {
	border-radius: 4px;
	background-color: white;
	border: 1px solid gray;
	color: black;
	font-family: bodoni;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	width: 160px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 10px;
}

.similarProducts {
	padding-left:100px;
	font-size:20px;
}

#checkoutbutton {
	margin-left:1100px;

}

			* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container2 {
  position: relative;
  margin-left:300px;
  margin-right:300px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  padding-left:250px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color:grey;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  padding-left:170px;

}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.footer {
	padding-top:20px;
	padding-bottom:20px;
	width:100%
	color:black;
	text-align:center;
	font-size:15px;
}

.similarProducts{
	padding-right:125px;
	padding-top:50px;
}

